
.DS_Store
.env
pyvenv.cfg
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
__pycache__
lib
bin/
etc/
share/
# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover